# Discord Token pulled from the Discord Developer Portal (https://discord.com/developers/applications)
DISCORD_TOKEN=insert-discord-token

# Environment (development or production)
ENVIRONMENT=production

# Development Guild ID (only required for development environment)
DEV_GUILD_ID=insert-dev-guild-id