# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
downloads/

# Cache files
.pytest_cache/
cache

# Virtual environment
.venv/

# Environment variables
.env

# Sounds
sounds

# VS Code
.vscode/
